
.ownblog-card-container{
    width: 500px;
    padding: 1rem;
    height: 450px;
    margin: 1.5rem auto;
    border: 1px solid black;
    overflow: hidden;
    background-color:#FFFFFF;
}

.ownblog-edit-btn-container{
    display: flex;
    justify-content: space-around;
}

.ownblog-btn {
    width: 200px;
}