.profile-container {
    text-align: left;
    width: 150px;
    margin: 0 auto;
    margin-top: 1rem;
    width: 355px;
    background: #ffffff;
    padding: 2rem 3rem;
    margin: 2rem auto;
    border: 2px solid goldenrod;
}


.profile-details-heading {
    color: goldenrod;
    font-family: "Playfair Display", serif;
    }


.profile-details-subheading {
    font-size: 1.25rem;
    font-weight: 700;
}

.profile-container .profile-btn {
    margin: 0rem 0.75rem;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    width: 200px;
}
