

.header-container {
    font-family: 'Playfair Display', serif; 
    text-align: center;
}

.newspaper-name {
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 900;
}

.header-date {
    margin-top: 0.5rem;
}

.header-category-container {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-category {
    margin: 0.25rem 0rem;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.nav-link {
    margin: 0 0.5rem;
    font-weight: 700;
    text-decoration: none !important;
    color: black;
}

.nav-link:focus {
    color: tomato;
}
.nav-link:hover {
    color: tomato;
}

