

.header-container {
    font-family: 'Playfair Display', serif; 
    text-align: center;

}

.newspaper-name {
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 900;
}

.header-date {
    margin-top: 0.5rem;
}

.header-category-container {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.header-category {
    margin: 0.25rem 0rem;
}

.nav-bar-container{
    display: flex;
}