
.login-container {
    width: 275px;
    background: #FFFFFF;
    padding: 2rem 3rem;
    margin: 2rem auto;
    border: 2px solid goldenrod;
}

.blogform-heading {
    color: goldenrod;
    font-family: 'Playfair Display', serif; 
}

.btn-goldenrod { 
    color: #FFFFFF; 
    background-color: #D4A11F; 
    border-color: #FFFFFF; 
    font-weight: 700;
    font-family: 'Playfair Display', serif; 
    width: 100px;
  } 
   
  .btn-goldenrod:hover, 
  .btn-goldenrod:focus, 
  .btn-goldenrod:active, 
  .btn-goldenrod.active, 
  .open .dropdown-toggle.btn-goldenrod { 
    color: #FFFFFF; 
    background-color: #C78F00; 
    border-color: #FFFFFF; 
  } 
   
  .btn-goldenrod:active, 
  .btn-goldenrod.active, 
  .open .dropdown-toggle.btn-goldenrod { 
    background-image: none; 
  } 
   
  .btn-goldenrod.disabled, 
  .btn-goldenrod[disabled], 
  fieldset[disabled] .btn-goldenrod, 
  .btn-goldenrod.disabled:hover, 
  .btn-goldenrod[disabled]:hover, 
  fieldset[disabled] .btn-goldenrod:hover, 
  .btn-goldenrod.disabled:focus, 
  .btn-goldenrod[disabled]:focus, 
  fieldset[disabled] .btn-goldenrod:focus, 
  .btn-goldenrod.disabled:active, 
  .btn-goldenrod[disabled]:active, 
  fieldset[disabled] .btn-goldenrod:active, 
  .btn-goldenrod.disabled.active, 
  .btn-goldenrod[disabled].active, 
  fieldset[disabled] .btn-goldenrod.active { 
    background-color: #D4A11F; 
    border-color: #FFFFFF; 
  } 
   
  .btn-goldenrod .badge { 
    color: #D4A11F; 
    background-color: #FFFFFF; 
  }