
.no-current-drafts-heading {
    font-family: "Noto Mono Sans";
    color: tomato;
    text-align: center;
    margin-top: 3rem;
    font-weight: 900;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    width: 100%;
    max-width: 1000px;
}